openapi: 3.1.0
info:
  title: Mythos Sentinel API
  version: "0.1"
servers:
  - url: https://loom.denkers.co
paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check (requires API key)
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /version:
    get:
      operationId: getVersion
      summary: Get API version
      responses:
        "200":
          description: Current version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionResponse"
  /mirror:
    get:
      operationId: mirrorGet
      summary: Echo request info (GET)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MirrorResponse"
    post:
      operationId: mirrorPost
      summary: Echo request info (POST)
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MirrorRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MirrorResponse"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        message:
          type: string
          example: Mythos Sentinel API is alive
      required: [status, message]
      additionalProperties: false
    VersionResponse:
      type: object
      properties:
        version:
          type: string
          example: "0.0.5"
      required: [version]
      additionalProperties: false
    MirrorRequest:
      type: object
      properties:
        body:
          description: Raw request body (if any)
          type: string
        query:
          description: Query parameters
          type: object
          additionalProperties:
            type: string
        headers:
          description: Headers sent with the request
          type: object
          additionalProperties:
            type: string
        method:
          type: string
          example: GET
        path:
          type: string
          example: /mirror
      additionalProperties: true
    MirrorResponse:
      type: object
      properties:
        method:
          type: string
          example: GET
        path:
          type: string
          example: /mirror
        query:
          type: object
          additionalProperties:
            type: string
        sanitized_query_params:
          type: array
          items:
            type: string
        headers:
          type: object
          additionalProperties:
            type: string
        sanitized_headers:
          type: array
          items:
            type: string
        body:
          type: string
        client:
          type: object
          properties:
            ip:
              type: string
            user-agent:
              type: string
          additionalProperties: true
      additionalProperties: true
    Error:
      type: object
      properties:
        detail:
          oneOf:
            - type: string
            - type: object
      additionalProperties: true
