openapi: 3.1.0
info:
  title: Mythos Sentinel API
  version: "0.1"
  description: |
    Minimal API for Mythos Sentinel. `/health` requires the `x-api-key` header.
    `/version` and `/mirror` are public for convenience.
servers:
  - url: https://loom.denkers.co
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    HealthResponse:
      type: object
      required: [status, message]
      properties:
        status:
          type: string
          example: ok
        message:
          type: string
          example: Mythos Sentinel API is alive
    ErrorResponse:
      type: object
      required: [detail]
      properties:
        detail:
          type: string
          example: Unauthorized
    VersionResponse:
      type: object
      required: [version]
      properties:
        version:
          type: string
          example: "0.0.5"
    MirrorRequest:
      type: object
      description: Arbitrary JSON payload that will be echoed by /mirror.
      additionalProperties: true
    MirrorResponse:
      type: object
      required: [method, path, query, headers, client]
      properties:
        method:
          type: string
          example: GET
        path:
          type: string
          example: /mirror
        query:
          type: object
          additionalProperties: true
          example: {}
        sanitized_query_params:
          type: array
          items:
            type: string
        headers:
          type: object
          additionalProperties: true
        sanitized_headers:
          type: array
          items:
            type: string
        body:
          description: Raw body as received (string for GET, may be object if JSON POST).
          oneOf:
            - type: string
            - type: object
              additionalProperties: true
        client:
          type: object
          required: [ip]
          properties:
            ip:
              type: string
              example: 127.0.0.1
            user-agent:
              type: string
              description: User agent string if available.
paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check (requires x-api-key)
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "401":
          description: Unauthorized (missing or invalid API key)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /version:
    get:
      operationId: getVersion
      summary: API version (public)
      responses:
        "200":
          description: Current API version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionResponse"
  /mirror:
    get:
      operationId: mirrorGet
      summary: Echo request details (public)
      responses:
        "200":
          description: Mirror of request details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MirrorResponse"
    post:
      operationId: mirrorPost
      summary: Echo POST body and request details (public)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MirrorRequest"
      responses:
        "200":
          description: Mirror of request details including body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MirrorResponse"
